/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos para o corpo principal */
main {
    padding: 20px;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}